---
import Layout from '@src/layouts/Layout.astro';

---
<Layout title="KodamaSoft/Sounds">
	<p class="max-w-5xl mx-auto mt-10">Welcome to KodamaSoft / KodamaSounds, home of a France based doujin circle founded around 2017 by Fivda! We are actively working on original / arrange albums of all kinds under KodamaSounds, and progressively building video games, tools and events relating to game development under KodamaSoft. We hope you enjoy your stay, and why not try to join our strong united community of artists on Discord to contribute yourself?!</p>
</Layout>