---
import { Image } from 'astro:assets';
import KodamaMusic from '@assets/img/kodamamusic.png';
import LocaleSwitcher from '../LocaleSwitcher.astro';
const { class: className } = Astro.props;

---
<div class={className}>
    <header class="container mx-auto px-4">
        <div class="flex justify-between items-center">
            <a href="/">
                <Image
                    src={KodamaMusic}
                    style={{ objectFit: 'cover', objectPosition: 'center' }}
                    width={100}
                    height={100}
                    alt="KodamaSoft"
                />
            </a>
            <div class="flex items-center bg-neutral-700/50 rounded-lg p-2">
                <LocaleSwitcher />
            </div>
        </div>
    </header>
</div>
	