---
import { Icon } from "astro-icon/components";
import { formatDate, urlForImage } from "@utils/index";
import { t } from "i18n:astro";
import ReleaseCreditsRow from "./ReleaseCreditsRow.astro";

function linkToIconName(link) {
    if (link.toString().includes('bandcamp')) {
        return "bandcamp"
    } else if (
        link.toString().includes('youtube') ||
        link.toString().includes('youtu.be')
    ) {
        return "youtube"
    } else if (link.toString().includes('twitter') || link.toString.includes('x.com')) {
        return "twitter"
    } else if (link.toString().includes('soundcloud')) {
        return "soundcloud"
    } else if (link.toString().includes('vgmdb')) {
        return "vgmdb"
    } else if (link.toString().includes('booth.pm')) {
        return "booth"
    } else if (link.toString().includes('pixiv')) {
        return "pixiv"
    } else if (link.toString().includes('fanbox.cc')) {
        return "fanbox"
    } else if (link.toString().includes('spotify')) {
        return "spotify"
    } else if (link.toString().includes('apple')) {
        return "apple"
    } else {
        return "globe"
    }
}

const { credits, locale } = Astro.props;
---

<section class="container mx-auto my-16">
	<h2 class="text-2xl text-center uppercase mb-8 font-black">
		credit
	</h2>
	<table class="table-auto w-full">
		<thead class='hidden md:table-header-group'>
			<tr>
				<th class="px-4 py-2">Name</th>
				<th class="px-4 py-2">Role</th>
				<th class="px-4 py-2">Link</th>
			</tr>
		</thead>
		<tbody class="grid grid-cols-1 sm:grid-cols-2 p-4 gap-4 md:table-row-group md:p-0 md:border-t border-[#666]">
			{credits.map((credit) => (
				<ReleaseCreditsRow credit={credit} locale={locale} />
			))}
		</tbody>
	</table>
</section>
	