---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="🌱">
	
	<div class="emoji-container">
		<a href="/admin" class="emoji">🌱</a>
		<div class="text">Nothing to see here :)</div>
	</div>

</Layout>

<style>
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		height: 100dvh;
		margin: 0;
	}

	.emoji-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.emoji {
		font-size: 5rem;
		text-decoration: none;
		animation: spin 2s linear infinite;
	}

	.emoji:hover {
		animation-duration: 0.5s;
	}

	.text {
		margin-top: 1rem;
		font-size: 1.5rem;
		color: greenyellow;
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
</style>