---
import { Icon } from "astro-icon/components";
---

<footer class="border-t border-slate-400 dark:border-slate-500/20 mt-10">
  <div class="container max-w-4xl mx-auto flex py-8 flex-col text-center">
    <div
      class="w-full mx-auto flex justify-center flex-wrap items-center gap-3"
    >
      <a
        href="https://kodamasoft.booth.pm/"
        class="footer_svg_container outline-none"
      >
        <Icon
          name="booth"
          class="text-slate-400 dark:text-slate-500 no-underline hover:text-slate-500 dark:hover:text-slate-50 hover:scale-105 w-12 h-12 transition"
        />
      </a>
      <a
        href="https://soundcloud.com/kodamasoft"
        class="footer_svg_container outline-none"
      >
        <Icon
          name="soundcloud"
          class="text-slate-400 dark:text-slate-500 no-underline hover:text-slate-500 dark:hover:text-slate-50 hover:scale-105 w-12 h-12 transition"
        />
      </a>
      <a
        href="https://www.youtube.com/@kodamasoft"
        class="footer_svg_container outline-none"
      >
        <Icon
          name="youtube"
          class="text-slate-400 dark:text-slate-500 no-underline hover:text-slate-500 dark:hover:text-slate-50 hover:scale-105 w-12 h-12 transition"
        />
      </a>
      <a
        href="http://twitter.com/kodamasoft"
        class="footer_svg_container outline-none"
      >
        <Icon
          name="x"
          class="text-slate-400 dark:text-slate-500 no-underline hover:text-slate-500 dark:hover:text-slate-50 hover:scale-105 w-12 h-12 transition"
        />
      </a>
      <a
        href="https://kodamasounds.bandcamp.com/"
        class="footer_svg_container outline-none"
      >
        <Icon
          name="bandcamp"
          class="text-slate-400 dark:text-slate-500 no-underline hover:text-slate-500 dark:hover:text-slate-50 hover:scale-105 w-12 h-12 transition"
        />
      </a>
      <a href="/discord" class="footer_svg_container outline-none">
        <Icon
          name="discord"
          class="text-slate-400 dark:text-slate-500 no-underline hover:text-slate-500 dark:hover:text-slate-50 hover:scale-105 w-12 h-12 transition"
        />
      </a>
      <a
        href="mailto:kodamateam@gmail.com"
        class="footer_svg_container outline-none"
      >
        <Icon
          name="envelope"
          class="text-slate-400 dark:text-slate-500 no-underline hover:text-slate-500 dark:hover:text-slate-50 hover:scale-105 w-12 h-12 transition"
        />
      </a>
    </div>
    <p class="text-slate-400 dark:text-slate-500 mt-5">
      KodamaSoft / KodamaSounds logo by <a
        href="https://twitter.com/vgmcal"
        class="transition hover:text-slate-500 dark:hover:text-slate-50 hover:underline"
        >cal</a
      > — Kodama Mascots by Garrrros (KodamaSoft) — Website by <a
        href="https://twitter.com/krz0001"
        class="transition hover:text-slate-500 dark:hover:text-slate-50 hover:underline"
        >krz</a
      > (KodamaSoft) <br />
    </p>
  </div>
</footer>
