---
import LocaleSwitcher from './LocaleSwitcher.astro';
const links = [
    { href: '/kodamasoft', text: 'KodamaSoft' },
    { href: '/kodamasounds', text: 'KodamaSounds' },
    { href: '/projects', text: 'Projects' },
    { href: '/staff', text: 'Staff' },
];


---

<div class="text-center bg-[url('/src/assets/img/big_01_space_g.png')] bg-cover bg-center">
    <h1 class="text-7xl font-bold py-8 text-black dark:text-white">
        <a href="/" class="bg-[url('/src/assets/img/logo_white.png')] bg-contain bg-no-repeat bg-center h-full w-full min-h-48 block">
            <span class="sr-only">KodamaSoft</span>
        </a>
    </h1>
    <nav class="flex flex-col sm:flex-row justify-center p-4 gap-4 items-center bg-purple-950/20 backdrop-blur text-white">
        {links.map(({ href, text }) => (
            <a href={href} class="text-gray-300 hover:bg-purple-700/50 hover:text-white px-3 py-2 rounded-md text-sm font-medium border-2 border-transparent focus-visible:border-purple-600 focus-visible:outline-none transition">{text}</a>
        ))}
        <LocaleSwitcher class="w-fit m-0 text-gray-300 bg-gray-900/50 hover:bg-purple-700/50 hover:text-white px-3 py-2 rounded-md text-sm font-medium border-2 border-transparent focus-visible:border-purple-600 focus-visible:outline-none transition" />
        <!-- if sessionstorage presence_session_id exists, show admin link -->
        <a href="/admin" class="text-gray-300 hover:bg-orange-700/50 hover:text-white px-3 py-2 rounded-md text-sm font-medium border-2 border-transparent focus-visible:border-orange-600 focus-visible:outline-none transition hidden" data-admin-link>Admin</a>
    </nav>
</div>

<script>
    // if localStorage element starting with __studio_auth_token_ exists, show admin link
    if (localStorage.getItem(Object.keys(localStorage).find(key => key.startsWith('__studio_auth_token_')))) {
        document.querySelector('[data-admin-link]').classList.remove('hidden');
    }
</script>