<div class="text-white text-center">

    <h1 class="text-7xl font-bold my-8 text-black dark:text-white">KodamaSoft</h1>   
    <nav class="flex justify-center space-x-4 mt-4 bg-gray-200 dark:bg-gray-800 text-black dark:text-white p-4">
        <a href="#kodamasoft">KodamaSoft</a>
        <a href="/kodamasounds">KodamaSounds</a>
        <a href="#projects">Projects</a>
        <a href="#staff">Staff</a>
    </nav>
</div>