---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gradient-to-br dark:from-[#0e122d] dark:via-[#131530] dark:to-[#20203f] bg-no-repeat bg-cover bg-center bg-fixed text-gray-900 dark:text-gray-100">
		<Header />
		<slot />
		<Footer />
	</body>
	</body>
	<style is:global>
		.kodama_btn {
			@apply py-2 px-3 text-xs font-medium text-center text-white rounded-lg focus:ring-4 inline-flex transition items-center cursor-pointer;
			@apply bg-slate-600 hover:bg-slate-700 focus:ring-slate-800;
		}

		.kodama_btn [astro-icon], .kodama_btn svg {
			@apply h-4 w-4 mr-2 shrink-0;
		}

		.kodama_btn--primary {
			@apply bg-violet-600 hover:bg-violet-700 focus:ring-violet-800;
		}

		.kodama_btn--lg {
			@apply py-3 px-4 text-lg;
		}

		.kodama_btn--lg [astro-icon], .kodama_btn--lg svg{
			@apply h-6 w-6;
		}
	</style>
</html>
